
.card{
    background: none;
    width: 30%;
    height: 45%;
    border: 0;    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 5px;
}

.cardImg{
    width:50% ;
    height: 50%;
}

.card h3{
    font-size: 1.2em;
    font-weight:200 ;
}

.card button{
     border: 0;
    cursor: pointer;
}

.cardRow{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cardRow span{
    padding: 2px;
    font-size: 1.5em;
}

.addToCartBtn{
    font-size: 1.6em;
    font-weight: 900;
    margin: 8px 5px;
    padding: 8px 12px;
    color: white;
    border-radius: 8px;
    background-color: cornflowerblue;
}


.likeBtn{
    margin-left: auto;
    font-size: 1.5em; 
}

.heart{
    color: red;
}

@media screen and (min-width:1024px) {
    
}

@media screen and (max-width:1024px) {
    .card{
        width: 150px;
        height: 240px;
    }
    .card h3{
        font-size: 0.75rem;
        margin: 8px;
    }

    .cardRow span, .likeBtn{
        font-size: 0.8rem;
    }
    
    .cardImg{
        width: 50%;
        height: 40%;
    }

    .addToCartBtn{
        font-size: 0.8rem;
    }
}

@media screen and (max-width:768px) {
    .card{
        width: 180px;
        height: 240px;
        padding: 2px;
    }

    .cardImg{
        width: 50%;
        height: 50%;
    }
    
    .addToCartBtn{
        font-size: 0.8rem;
    }
    
}
